<div class="jsonexample">
  <div>{</div>
    <div>
      <div>"info": {</div>
          <div>
            <div>"totalrecordsperquery": 10,</div>
            <div>"totalrecords": 234937,</div>
            <div>"pages": 23494,</div>
            <div>"page": 1,</div>
            <div>"next": "https://api.harvardartmuseums.org/object?apikey=0000-0000-0000-0000&page=2",</div>
          </div>
      <div>},</div>
      <div>"records": [</div>
        <div>
          <div><i>...</i></div>
        </div>
      <div>],</div>
    </div>
  <div>}</div>
</div>
