<!-- HTML generated using hilite.me --><div style="background: #f8f8f8; overflow:auto;width:auto;border-width:.1em .1em .1em .8em;padding:.2em .6em; padding: 20px;"><pre style="margin: 0; line-height: 125%">{
    <span style="color: #008000; font-weight: bold">&quot;info&quot;</span>: {
    <span style="color: #008000; font-weight: bold">&quot;totalrecordsperquery&quot;</span>: <span style="color: #666666">10</span>,
    <span style="color: #008000; font-weight: bold">&quot;totalrecords&quot;</span>: <span style="color: #666666">234937</span>,
    <span style="color: #008000; font-weight: bold">&quot;pages&quot;</span>: <span style="color: #666666">23494</span>,
    <span style="color: #008000; font-weight: bold">&quot;page&quot;</span>: <span style="color: #666666">1</span>,
    <span style="color: #008000; font-weight: bold">&quot;next&quot;</span>: <span style="color: #BA2121">&quot;https://api.harvardartmuseums.org/object?apikey=0000-0000-0000-0000&amp;page=2&quot;</span>,
    },
    <span style="color: #008000; font-weight: bold">&quot;records&quot;</span>: [
        <span style="border: 1px solid #FF0000">...</span>
    ],
}
</pre></div>
