<sidebar>
  <div class="sidebar">
    <img class="logo" src="/images/hamlogo.png">
    <a class="titlelink" href="/"><h3> API Toolkit and Guide</h3></a>

    <h2>LESSONS</h2>
    <div class="lessons">
      <a class="lesson-w-icon" href="/1">
        <p class="number-icon">1</p>
        <p class="lesson-title">Museum Data</p>
      </a>
      <a class="lesson-w-icon" href="/2">
        <p class="number-icon">2</p>
        <p class="lesson-title">APIs</p>
      </a>
      <a class="lesson-w-icon" href="/3">
        <p class="number-icon">3</p>
        <p class="lesson-title">Examples</p>
      </a>
      <a class="lesson-w-icon" href="/4">
        <p class="number-icon">4</p>
        <p class="lesson-title">Getting Started</p>
      </a>
      <a class="lesson-w-icon" href="/5">
        <p class="number-icon">5</p>
        <p class="lesson-title">Interpretting Data</p>
      </a>
      <a class="lesson-w-icon" href="/6">
        <p class="number-icon">6</p>
        <p class="lesson-title">Manipulating Data</p>
      </a>
    </div>

    <h2>REFERENCES</h2>
    <div class="lessons">
      <a class="lesson-w-icon" href="/resources">
        <p class="number-icon"><img src="/images/resource.png"></img></p>
        <p class="lesson-title">Resource Guide</p>
      </a>
      <a class="lesson-w-icon" href="/labels">
        <p class="number-icon"><img src="/images/resource.png"></img></p>
        <p class="lesson-title">Resource Labels</p>
      </a>
    </div>
  </div>
</sidebar>
