<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Museum API Toolkit and Guide</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/tabulator-tables@4.7.2/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.7.2/dist/js/tabulator.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{{> sidebar }}

<body>
    {{{body}}}

</body>
</html>
