<div class="navigationtop">
  <div class="previous">
    <a href="/">
      <i class="arrow left"></i>
      Home
    </a>
  </div>
  <div class="next">
    <a href="/2">
      Next Lesson: APIs
      <i class="arrow right"></i>
    </a>
  </div>
</div>

<h2>LESSON 1 OF 6</h2>
<h1>What is museum data?</h1>

<div class="lesson-text">
  <p><b>Museum data</b> encompasses the entire wealth of information a museum collects and digitizes.

  <p>This includes but is not limited to information about artworks and artists in their collection, venue heatmaps, website traffic analytics, and publications about the museum.<p><br>

  <div class="imagetoside">
    <div class="sidetext">
      <p>Not only can museum data can be used to learn about individual pieces, but the data also allows you to take a step back and paint a bigger picture. Digitized collections are a tool that can be used to realize cultural trends or even the story of the museum itself. Through their digital activation, museums can now answer questions regarding their own cultural embeddedness and societal implications. For instance, using the Modern Museum of Art’s data, <a href="https://twitter.com/EamonCaddigan/status/626861365546848256">a programmer visualized the museum’s acquisitions by gender</a>.<p>
    </div>
    <img src="/images/momaaquisition.png" href="https://twitter.com/EamonCaddigan/status/626861365546848256"></img>
  </div><br>
  <br><br><p>While some museums keep their data private, a multitude of others keep their data accessible to the public. Many do this in the form of an API, which allows you to request data from the museum’s server.</p>
</div>

<div class="navigationbottom">
  <div class="previous">
    <a href="/">
      <i class="arrow left"></i>
      Home
    </a>
  </div>
  <div class="next">
    <a href="/2">
      Next Lesson: APIs
      <i class="arrow right"></i>
    </a>
  </div>
</div>
