<h2>LESSON 2 OF 6</h2>
<h1>What is an API?</h1>

<div class="lesson-text">

  <p>Standing for application programming interface, an <a href="https://blogs.mulesoft.com/biz/tech-ramblings-biz/what-are-apis-how-do-apis-work/#:~:text=API%20stands%20for%20Application%20Programming,the%20response%20back%20to%20you.">API</a> is a part of a database or server that allows a user to request and send information. For instance, <a href="https://weather.com/swagger-docs/call-for-code">The Weather Channel</a> allows developers to access forecasts as data. Thus, different programs and applications (such as the iPhone Weather app) can retrieve this data through requests.</p>

  <p>The Harvard Art Museums has <a href="https://github.com/harvardartmuseums/api-docs">its own API</a>, accessible and free to all. The museum’s API contains all of its information on artworks, artists, exhibitions, and the categorizations used to describe the two. Its data comes from three sources:</p>


  <div class="datasources">
    <div class="source">
      <div class="icon1"><img src="/images/museumicon.png" alt="Icon of a museum"></img></div>
      <h5>The Museum System</h5>
      <p>The primary source of data, TMS consists of information manually inputted by museum staff. </p>
    </div>
    <div class="source">
      <div class="icon2"><img src="/images/analyticsicon.png" alt="Icon of a museum"></img></div>
      <h5>Google Analytics</h5>
      <p>Used to determine website traffic, Google Analytics data reveals the online view counts for art pieces.</p>
    </div>
    <div class="source">
      <div class="icon3"><img src="/images/aiicon.png" alt="Icon of a museum"></img></div>
      <h5>Artificial Intelligence</h5>
      <p>Utilizing five different machine vision programs, artificial intelligence data exposes how computers interpret artworks in the collection.</p>
    </div>
  </div>

  <div class="lightwarning"><b>Warning:</b> The museum's data is not perfect. It is a product of human nature and a product of its time. It reflects the museum's accumulated knowledge of the past and present, but not the future. The data and data structures within contain the bias and opinions of the museum. The Harvard Art Museum’s data spans over 200,000 objects, but is often incomplete or ambiguous. It's a living document, constantly updated by the museum.
</div>

  <br><p>Nevertheless, by recognizing its incongruities, the user can work through messy data to access untold stories and unsolved questions.</p>

</div>


<div class="navigationbottom">
  <div class="previous">
    <a href="/1">
      <i class="arrow left"></i>
      Previous Lesson: Museum Data
    </a>
  </div>
  <div class="next">
    <a href="/3">
      Next Lesson: Examples
      <i class="arrow right"></i>
    </a>
  </div>
</div>
