<h2>LESSON 3 OF 6</h2>
<h1>How our API has been used</h1>

<div class="lesson-text">

<p>The API’s breadth of information enables inquiry and discovery of countless disciplines. In the past, the Harvard Art Museums’ data has been used to generate research, explore our collections, populate games, and create art. Although a non-exhaustive list, the following projects demonstrate the wealth of possibilities.</p>

<h4>Example projects</h4>
<li>AI Explorer - Search and browse the collection via machine generated tags and descriptions.</li>
<li>Art Explorer - A different approach to browsing through the collections.</li>
<li>ARTphone - Call or text the word “random” to 1-617-500-1866 to listen to the collection.</li>
<li>Magnetic Poetry, Magic Message, Face Match, etc - Playful projects that show the possibilities with computer vision and IIIF</li>
<li>Museum Explorer - See the entire museum through tree and pack graphs and floor plans.</li>
<li>Spectrum Explorer - See color spectrum that is part of the branding of the Harvard Art Museums.</li>
<li>Suns Explorer - A simple abstract use of the color information supplied with some of the object records.</li>

</div>
