<h2>REFERENCES</h2>
<h1>About This Site</h1>

<p>
  This initial version of this toolkit was researched, written, designed and developed by <a href="https://www.mariekonopacki.com/" target="_blank">Marie Konopacki</a> during the 2020 <a href="https://uraf.harvard.edu/summer-residential-research-programs" target="_blank">Summer Humanities and Arts Research Program (SHARP)</a>.
</p>