<h1>{{title}}</h1>
<table id="endpoints-info-table">
  <tr class="header">
    <th style="width:33%;">Resource</th>
    <th style="width:33%;">Description</th>
    <th style="width:33%;">Includes</th>
  </tr>
  <tr>
    <td>Object</td>
    <td>Detailed information about each object in the Harvard Art Museums collections</td>
    <td>Object ID, artwork information, artist information, images, online view count</td>
  </tr>
  <tr>
    <td>Person</td>
    <td>Information about individual artists, sitters, printers, donors, authors, publishers, and more.</td>
    <td>Person ID, name, date/location of birth and death, culture, URL, Wikipedia ID</td>
  </tr>
  <tr>
    <td>Exhibition</td>
    <td>Information about each exhibit affiliated with the museum's collections.</td>
    <td></td>
  </tr>
  <tr>
    <td>Publication</td>
    <td>Records for publications affiliated with the museums collections.</td>
    <td>Publication ID, title, citation, image, location, format, date, description, volume, author</td>
  </tr>
  <tr>
    <td>Gallery</td>
    <td>All galleries in the museum building</td>
    <td>Gallery number, object count, last update, floor, name, theme</td>
  </tr>
  <tr>
    <td>Spectrum</td>
    <td>List of the colors used in the color spectrum that is part of Harvard Art Museums branding</td>
    <td>ID, color, month, day</td>
  </tr>
  <tr>
    <td>Classification</td>
    <td>All classifications used to categorize items in the collections TO DO how were classifications designated?</td>
    <td>Classification ID, last update, name, object count</td>
  </tr>
  <tr>
    <td>Century</td>
    <td>All centuries used to describe items in the collections.</td>
    <td>Century ID, object count, name</td>
  </tr>
  <tr>
    <td>Color</td>
    <td>All colors used to describe items in the collections</td>
    <td>Color ID, hex code, name</td>
  </tr>
  <tr>
    <td>Culture</td>
    <td>All cultures used to both items in the collections and people</td>
    <td>Culture ID, name, object count, last update</td>
  </tr>
  <tr>
    <td>Medium</td>
    <td>All mediums used to describe items in the collections</td>
    <td>Medium ID, name, object </td>
  </tr>
  <tr>
    <td>Period</td>
    <td>All periods used to describe items in the collections TO-DO how were periods designated?</td>
    <td>Period ID, name, object count</td>
  </tr>
  <tr>
    <td>Place</td>
    <td>All places where items in the collection were made</td>
    <td>Place ID, name, object count</td>
  </tr>
  <tr>
    <td>Technique</td>
    <td>To-do (how does it differ from medium?)</td>
    <td>Technique ID, name, object count</td>
  </tr>
  <tr>
    <td>Worktype</td>
    <td>To-do, what exactly is worktype?</td>
    <td>Worktype ID, name, object count</td>
  </tr>
  <tr>
    <td>Activity</td>
    <td>All the activities specific to objects in the collections</td>
    <td>Pageviews, conservation, moves, study center views</td>
  </tr>
  <tr>
    <td>Site</td>
    <td>All the sites that are part of the museum</td>
    <td>Site ID, name, address</td>
  </tr>
  <tr>
    <td>Image</td>
    <td>All images produced by and associated with the museum</td>
    <td>Image ID, image URL, IIIF URL, copyright, file ID</td>
  </tr>
  <tr>
    <td>Annotation</td>
    <td>All annotations produced by machine vision services in the collections</td>
    <td>Annotation ID, source, type, body, confidence, target, feature</td>
  </tr>
  <tr>
    <td>Audio</td>
    <td>All audios produced by and associated with the museum</td>
    <td>TO-DO</td>
  </tr>
  <tr>
    <td>Group</td>
    <td>TO-DO what is a group?</td>
    <td>TO-DO</td>
  </tr>
  <tr>
    <td>Video</td>
    <td>All videos produced by and associated with the museum</td>
    <td>Coming soon</td>
  </tr>
</table>
