{{> sidebar}}

<div class="welcomebanner">
  <div class="welcometitle">
    <h2>Welcome to the Harvard Art Museums</h2>
    <h1>API Toolkit and Guide</h1>
  </div>
</div>

<div class="welcome">
  <div class="welcometext">
    <p>
      Over the past few years, new methods of arts research have emerged with the development of technology. To generate research opportunities, many museums have since digitized their collections, allowing the public to access their data.
    </p>
    <p>
       In order to address the limitations that many art scholars face when trying to access information that requires coding, the Harvard Art Museums has created a guide, which intends to inform individuals about museum data, APIs, and how the Museum’s data can be utilized to solve unanswered research questions.
    </p>
  </div>

  <div class="getstartedbutton">
    <a href="/1" class="getstarted">
      Get Started
    </a>
  </div>
</div>


<script>
  document.body.style.padding = "0px"
</script>
