body {
  width: 80%;
  font-family: 'Open Sans', sans-serif;
  margin-left: 20%;
  padding: 5%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

h1 {
  font-weight: 400;
  margin: 8px 0px;
  font-size: 28px;
  color: #333
}

h2 {
  font-weight: 400;
  margin: 0px 0px;
  line-height: 15px;
  font-size: 15px;
  color: #676767;
}

h3 {
  font-weight: 400;
  font-size: 20px;
  color: #333;
  text-align: center;
  margin: 40px auto;
}

h4 {
  display: inline-block;
  margin: 15px 0px;
  color: #505050;
}

h5 {
  font-weight: 600;
  font-size: 16px;
  color: #333;
  text-align: center;
}

p {
  line-height: 23px;
  color: #333;
}

b {
  color: #676767
}

.sidebar {
  width: 20%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: WhiteSmoke;
  overflow-x: hidden;
  padding: 15px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.titlelink {
  text-decoration: none;

}

.logo {
  width: 100%
}

.lesson-text {
  width: 90%;
  margin: 40px auto;
}

#url-breakdown {
  width: 100%;
  text-align: center;
  font-size: 13px;
}

.url1 {
  background-color: Tomato;
  color: white;
  padding: 20px;
  border-radius: 10px 0px 0px 0px;
}

.head1 {
  background-color: rgba(255, 91, 71, .4);
  border-radius: 0px 0px 10px 10px;
  color: #333;
  padding: 10px;
}

.url2 {
  background-color: SlateBlue;
  color: white;
  padding: 20px;
}

.head2 {
  background-color: rgba(106,90,205, .4);
  border-radius: 0px 0px 10px 10px;
  color: #333;
  padding: 10px;
}

.url3 {
  background-color: DodgerBlue;
  color: white;
  padding: 20px;
}

.url3alt {
  background-color: DodgerBlue;
  color: white;
  padding: 20px;
  border-radius: 0px 10px 0px 0px;
}

.head3 {
  background-color: rgba(30,144,255, .4);
  border-radius: 0px 0px 10px 10px;
  color: #333;
  padding: 10px;
}

.url4 {
  background-color: MediumSeaGreen;
  color: white;
  padding: 20px;
  border-radius: 0px 10px 0px 0px;
}

.url4alt {
  background-color: MediumSeaGreen;
  color: white;
  padding: 20px;
}

.head4 {
  background-color: rgba(60,179,113, .4);
  border-radius: 0px 0px 10px 10px;
  color: #333;
  padding: 10px;
}

.urlpunc {
  background-color: LightGray;
  color: #333;
  padding: 10px;
}

.tip {
  background-color: rgb(0, 204, 0, .1);
  color:   #004d00;
  padding: 30px;
  margin-top: 60px;
  border-left: solid 5px rgba(0, 153, 51, .6);
}

.tip b {
  color: #004d00;
}

.warning {
  background-color: rgb(204, 0, 0, .1);
  color: #b30000;
  padding: 30px;
  margin-top: 60px;
  border-left: solid 5px rgba(153, 0, 51, .6);
}

.warning b {
  color: #b30000;
}

.lightwarning {
  background-color: #FFFFE0;
  color: #666600;
  padding: 30px;
  margin-top: 60px;
  border-left: solid 5px #999900	;
}

.lightwarning b {
  color: #666600	;
}

.exampletitle {
  text-align: center;
  font-weight: 500;
  color: #333;
  margin-top: 70px;
}

.imagetoside {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  align-items: center;
}

.imagetoside .sidetext {
  width: 50%;
  padding-right: 50px;
}

.imagetoside img {
  width: 50%;
  border-radius: 10px;
  box-shadow: 0px 2px 3px 3px rgb(0, 0, 0, .07)
}

.components {
  text-align: center;
  margin-top: 80px;
}

.components p {
  margin: 0px;
}

.structure {
  font-weight: 700;
  font-size: 18px;
}


.jsonexample {
  background-color: WhiteSmoke;
}

.jsonexample div {
  margin-left: 20px;
}

.lessons {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 20px
}

.lessons a {
  text-decoration: none;
  width: 90%;
  margin: 0px;
  padding: 5px;
  color: #333;
  display: flex;
  flex-direction: row;
}

.lesson-w-icon p {
  margin: 10px 5px
}

.lessons a:hover {
  background-color: #E8E8E8;
  border-radius: 10px;
}

.lesson-title {
  padding-left: 15px;
}

.number-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  width: 40px;
  height: 25px;
  background-color: Silver;
}

.number-icon img {
  width: 40%;
}

.datasources {
  margin-top: 80px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.source {
  width: 33%;
  padding: 0px 30px;
  vertical-align: top;
  text-align: center;
}


.icon1 {
  background-color: Tomato;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  padding: 20px;
  margin: 0 auto;
}

.icon1 img {
  width: 50px;
}

.icon2 {
  background-color: SlateBlue;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  padding: 20px;
  margin: 0 auto;
}

.icon2 img {
  width: 50px;
}

.icon3 {
  background-color: DodgerBlue;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  padding: 20px;
  margin: 0 auto;
}

.icon3 img {
  width: 50px;
}

.tablelinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tablelinks a {
  border-radius: 10px;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin-bottom: 50px;
}

.link1 {
  background-color: Tomato;
}

.link2 {
  background-color: SlateBlue;
}

.link3 {
  background-color: DodgerBlue;
}

.link4 {
  background-color: MediumSeaGreen;
}

.link5 {
  background-color: Orange;
}

.link6 {
  background-color: Coral;
}

.link7 {
  background-color: DarkViolet;
}

.link8 {
  background-color: RoyalBlue;
}

.inputfield{
  padding: 10px;
  margin: 30px 0px 10px 0px;
}

.filter-wrap {
  text-align: center;
}

.navigationtop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.navigationtop a {
  text-decoration: none;
  color: #676767;
}

.navigationbottom {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.navigationbottom a {
  text-decoration: none;
  color: #676767;
}

.next {
  text-align: right;
}

.arrow {
  border: solid #676767;
  border-radius: 2px;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.getstarted {
  background-color: Tomato;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  padding: 10px 60px;
  margin-top: 70px;
}

.getstartedbutton {
  margin-top: 60px;
}

.welcomebanner {
  width: 100%;
  background-image: url('../images/harvardartmuseums.jpg');
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
}

.welcometitle {
  background-color: rgba(0,0,0,.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 150px 0px;
  text-align: center;
}

.welcome {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-top: 70px;
}

.welcome p {
  text-align: left;
}

.welcometext {
  margin-top: 50px;
}

.welcometitle h2 {
  color: white;
  font-size: 22px;
  font-weight: 300;
}

.welcometitle h1 {
  color: white;
  font-size: 40px;
  font-weight: 300;
}

.resource-guide-table {
  border-radius: 10px;
  border-collapse: collapse;
  margin: 60px 0px;
}

.resource-guide-table tr th {
  background-color: WhiteSmoke;
  border: 1px solid Gray;
  color: #555555;
  padding: 5px;
}

.resource-guide-table tr td {
  border: 1px solid #676767;
  padding: 15px;
}

.resource-guide-table tr:hover {
  background-color: WhiteSmoke;
}

.resource:hover {
  cursor: pointer;
}

.resourcetitle {
  text-align: center;
}

.resource-guide-table a {
  display: block;
}

.hamburger {
  display: none;
}

#mobilemenu {
  display: none;
}

#mobiletablelinks {
  display: none;
}

.table-wrapper {
  overflow-x: scroll;
}


@media only screen and (max-width: 1000px) {

  body {
    width: 100%;
    margin-left: 0%;
    margin-top: 60px;
  }

  .sidebar {
    width: 100%;
    position: fixed;
    top: 0;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    display: none;
  }

  .links {
    display: none;
  }

  h3 {
    margin: 0px;
  }

  .hamburger {
    display: inline;
    width: 40px;
  }

  .hamburger img {
    width: 70%;
    opacity: 60%;
  }

  .welcometitle {
    padding: 100px 0px;
  }

  .welcometitle h1 {
    font-size: 30px;
  }

  .welcometitle h2 {
    font-size: 16px;
  }

  .welcome {
    width: 80%;
    margin-bottom: 70px;
  }

  .imagetoside {
    flex-direction: column-reverse;
    margin-top: 40px;
  }

  .imagetoside .sidetext {
    width: 100%;
    padding-right: 0px;
    padding-top: 20px;
  }

  .imagetoside img {
    width: 100%;
  }

  .datasources {
    flex-direction: column;
  }


  .next {
    width: 50%;
    padding-left: 10px;
  }

  .previous {
    width:50%;
    padding-right: 10px;
  }

  .datasources {
    flex-direction: column;
  }

  .source {
    width: 100%;
    padding: 20px 0px;
  }

  #mobilemenu {
    position: fixed;
    right: 0;
    top: 60px;
    background-color: white;
    flex-direction: column;
    padding: 20px 40px;
    z-index: 10000;
    border: 1px solid WhiteSmoke;
    border-bottom-left-radius: 10px;
  }

  .mobilelink {
    text-decoration: none;
    padding: 10px 0px;
    color: #333;
  }

  .mobilelink + .mobilelink {
    border-top: 1px solid WhiteSmoke;
  }

  #mobilemenu h2 {
    margin-bottom: 10px;
  }

  .tablelinks {
    display: none;
  }

  #mobiletablelinks {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 5px;
  }
}


@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  #mobiletablelinks {
    display: block;
    margin-bottom: 30px;
    padding: 5px;
  }

  .tablelinks {
    display:none;
  }

  .sidebar {
    width: 25%
  }

  body {
    width: 75%;
    margin-left: 25%;
  }

  .number-icon {
    width: 30px;
    margin: 0px;
  }

  .lesson-w-icon p {
    margin: 0px;
  }

  .lessons a {
    align-items: center;
    padding-top: 20px;
  }

}
