<!-- HTML generated using hilite.me --><div style="background: #f8f8f8; overflow:auto;width:auto;border-width:.1em .1em .1em .8em;padding:.2em .6em; padding: 20px;"><pre style="margin: 0; line-height: 125%"><span style="color: #008000; font-weight: bold">import</span> <span style="color: #0000FF; font-weight: bold">requests</span>


<span style="color: #008000; font-weight: bold">def</span> <span style="color: #0000FF">pagination</span>(url):
    r <span style="color: #666666">=</span> requests<span style="color: #666666">.</span>get(url)

    <span style="color: #408080; font-style: italic"># Convert data to jSON format</span>
    data <span style="color: #666666">=</span> r<span style="color: #666666">.</span>json()

    <span style="color: #408080; font-style: italic"># Extract the info and records</span>
    info <span style="color: #666666">=</span> data[<span style="color: #BA2121">&#39;info&#39;</span>]
    records <span style="color: #666666">=</span> data[<span style="color: #BA2121">&#39;records&#39;</span>]

    <span style="color: #408080; font-style: italic"># For each record of objects, print the title and classification</span>
    <span style="color: #008000; font-weight: bold">for</span> record <span style="color: #AA22FF; font-weight: bold">in</span> records:
        <span style="color: #008000; font-weight: bold">print</span>(record[<span style="color: #BA2121">&#39;title&#39;</span>] <span style="color: #666666">+</span> <span style="color: #BA2121">&#39; --- &#39;</span> <span style="color: #666666">+</span> record[<span style="color: #BA2121">&#39;classification&#39;</span>])

    <span style="color: #008000; font-weight: bold">try</span>:
        <span style="color: #408080; font-style: italic"># If there is a next page, repeat pagination function</span>
        <span style="color: #008000; font-weight: bold">if</span> (info[<span style="color: #BA2121">&#39;next&#39;</span>]):
            pagination(info[<span style="color: #BA2121">&#39;next&#39;</span>])
    <span style="color: #408080; font-style: italic"># If next page doesn&#39;t work, end function</span>
    <span style="color: #008000; font-weight: bold">except</span>:
        <span style="color: #008000; font-weight: bold">pass</span>

<span style="color: #408080; font-style: italic"># Query to find all objects that have cat in the title</span>
url <span style="color: #666666">=</span> <span style="color: #BA2121">&quot;https://api.harvardartmuseums.org/object?title=cat&amp;apikey=0000-0000-0000-0000&quot;</span>

<span style="color: #408080; font-style: italic"># Perform Pagination function defined above on the query</span>
pagination(url)
</pre></div>
